@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
}
.container {
  background-color: var(--White);
  width: 375px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container-wrapper {
  height: 100vh !important;
}
.main-h {
  font-weight: 700;
  color: var(--Dark-blue);
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.3;
}
.sub-h {
  color: var(--Grayish-blue);
  font-weight: 400;
  text-align: center;
}
